<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>405535554038-ri6aii092e7lef4quqk2t2hkegi1cusa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.405535554038-ri6aii092e7lef4quqk2t2hkegi1cusa</string>
	<key>API_KEY</key>
	<string>AIzaSyAedvIADrcPwCJceR1mnu-rueG4zMsCXhk</string>
	<key>GCM_SENDER_ID</key>
	<string>405535554038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.loinsir.MVVM-of-Inhwan</string>
	<key>PROJECT_ID</key>
	<string>instagramfirestoretutori-a8ebc</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramfirestoretutori-a8ebc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405535554038:ios:cc7f50b8b54b8d2bc6afd7</string>
</dict>
</plist>